body {
    color:#4f4f4f !important;
}

body > header{
    position:relative;
}

.versionadded {
    clear:left;
    position:relative;
    text-align:right;
    border-top:1px solid #eaeded;
}

.versionmodified {
    position:relative;
    font-style:italic;
    background:#eaeded;
    color:#000;
    padding:5px;
    margin-right:-30px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.install {
    position:absolute;
    top:90px;
    right:75px;
    float:right;
    padding:0px 15px;
    padding-top:5px;
    padding-right:8px;
    background:#f1f1f1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
/*    box-shadow:0px 0px 5px #dadada;*/
}

/* Dark Button CSS */
.button {
    text-decoration:none;
    display:block !important;
    float:left;
    margin-bottom:3px;
	outline: 0;
	text-transform:uppercase;
	font-weight:normal;
	padding: 8px 18px;
	display: block;
	font-size:14px;
	color: #4f4f4f;
    padding-left:40px;
}
.button:hover {
	text-decoration:underline;
}
.button.phar {
    background:url(images/elephpant.png) no-repeat 0px -3px;
}
.button.github {
    background:url(images/github.png) no-repeat 0px -3px;
}
.button.pear {
    background:url(images/pear.png) no-repeat 0px -3px;
}

h1 {
    line-height:35px;
    margin:0px 0px 24px 0px !important;
}

h1 a {
    color:#000;
    font-family:Lobster;
    font-size:32px;
    font-weight:normal;
    text-decoration:none;
}

nav.toc {
    float:right;
    padding:15px 20px;
/*    background:#1e1e1e;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;*/
    margin:0px 0px 15px 15px;
    width:214px;
    font-size:14px;
    padding-top:5px;
}

nav.toc h3,
nav.rel h3 {
    margin-bottom:20px;
    font-style:italic;
    text-transform:uppercase;
    position:relative;
    padding-left:25px;
    font-size:22px;
}

nav.toc h3:before {
    position:absolute;
    display:block;
    content:'';
    width:48px;
    height:48px;
    left:-16px;
    top:-13px;
    background:url(images/chapters-gray.png);
}

nav.toc > ul {
    margin-top:25px !important;
}

nav.toc ul {
    list-style:decimal;
    margin:0px;
    padding:0px;
    margin-bottom:5px;

    font-size:12px;
}

nav.toc > ul > li > ul > li > ul {
    list-style:square;
}

nav.toc ul.nav {
    margin-bottom:20px;
}

nav.toc ul li {
    margin-left:15px;
    padding-left:0px;

    margin-top:10px;
    margin-bottom:10px;
}

nav.toc a {
    color:#000;
    font-weight:normal;
    font-size:14px;
    line-height:20px;
    text-decoration:none;
}

nav.toc a:hover {
    text-decoration:underline;
}

nav.toc > ul > li {
    list-style:none;
    margin-left:2px;
}

nav.toc > ul > li > a {
    display:none;
}

#quick-intro > .toctree-wrapper > ul > li > ul {
    margin-top:5px;
}

#quick-intro > .toctree-wrapper > ul > li > ul > li {
    margin-bottom:5px;
}

#guides > .toctree-wrapper > ul > li,
#cookbook > .toctree-wrapper > ul > li {
    margin-bottom:5px;
}
#behat-documentation .simple > li {
    margin-bottom:5px !important;
}


section.documentation {
    font-size:16px;
    line-height:24px;
    width:560px;
    margin-top:-20px;
    padding:10px 25px 25px 0px;
    border-right:1px solid #eaeded;
}

section.documentation h1 {
    font-size: 30px;
    color:#000;
    font-style: italic;
}

section.documentation h2 {
    font-size: 26px;
    color:#000;
    font-style: italic;
    margin:20px 0px;
    float:left;
    width:100%;
}

section.documentation h1 .docutils.literal,
section.documentation h2 .docutils.literal,
section.documentation h3 .docutils.literal,
section.documentation h4 .docutils.literal {
    font-size:inherit;
}

section.documentation h3,
section.documentation h4 {
    font-size: 18px;
    font-style: italic;
    margin:15px 0px;
    color:#000;
    float:left;
    width:100%;
}

section.documentation h1 a,
section.documentation h2 a,
section.documentation h3 a,
section.documentation h4 a {
    font-family: Georgia, "Times New Roman", serif !important;
    font-size:100%;
    font-weight:normal;
    color:#343434 !important;
    display:none;
    margin-left:5px;
    text-align: left;
    text-decoration:none;
}

section.documentation h1:hover a,
section.documentation h2:hover a,
section.documentation h3:hover a,
section.documentation h4:hover a {
    display:inline !important;
}

section.documentation ul,
section.documentation ol {
    margin-left:18px;
}

section.documentation ol {
    padding-left:5px;
}

section.documentation p,
section.documentation ul,
section.documentation ol,
section.documentation .highlight,
section.documentation .note,
section.documentation .tip,
section.documentation img {
    margin-bottom:20px;
}

section.documentation p,
section.documentation ul,
section.documentation ol {
    font-size:15px;
    line-height:20px;
}

section.documentation ul li,
section.documentation ol li {
    margin-bottom:10px;
}

section.documentation img {
  display:block; 
  margin-left:auto; 
  margin-right:auto;
}

section.documentation a {
    color:#000;
    font-style:default;
    text-decoration:none;
}

section.documentation a:hover {
    text-decoration:underline;
}

section.documentation .docutils.literal {
    background:#ccc;
    color:#000;
    padding:1px 3px;
    padding-bottom:2px;
    font-size:14px;
    font-family: monospace;
    font-weight:normal;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

section.documentation .highlight {
    margin-left:13px;
    padding:0px;
    font-size:13px !important;
    font-family: monospace;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 10px 0px;
    background:#272822;
    color:#F8F8F2;
    position:relative;
}

section.documentation .highlight > pre {
    line-height:18px;
    padding-top:13px !important;
    padding-bottom:13px !important;
}

section.documentation .highlight ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
section.documentation .highlight ::-webkit-scrollbar-track-piece  {
    background-color: #272822;
/*    -webkit-border-radius: 6px;*/
}
section.documentation .highlight ::-webkit-scrollbar-thumb:horizontal {
    background-color: #3b3d33;
}

section.documentation .highlight pre {
    overflow-y:auto;
    padding:10px;
    padding-left:20px;
}

section.documentation .highlight:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:8px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#272822 url(images/code-white.png) no-repeat 4px 4px;
}

section.documentation .note, section.documentation .tip {
    margin-left:13px;
    padding:10px;
    padding-left:20px;
    font-weight:normal !important;
    -moz-border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 10px 0px;
    background:#474747;
    color:#ccc;
    position:relative;
}

section.documentation .note .docutils.literal, section.documentation .tip .docutils.literal {
    color:#fff;
}

section.documentation .admonition-title {
    display:none;
}

section.documentation .note p, section.documentation .tip p {
    margin-bottom:15px;
    font-size:13px;
    line-height:20px;
}

section.documentation .note .docutils.literal {
    background:#1d1e1e;
}

section.documentation .tip .docutils.literal {
    background:#71705d;
}

section.documentation .note a, section.documentation .tip a {
    color:#fff;
    text-decoration:underline;
}

section.documentation .note a:hover, section.documentation .tip a:hover {
    text-decoration:none;
}

section.documentation .note .docutils.literal, section.documentation .tip .docutils.literal {
    font-size:13px;
}

section.documentation .note p:last-child, section.documentation .tip p:last-child {
    margin-bottom:0px;
}

section.documentation .note .highlight:last-child, section.documentation .tip .highlight:last-child {
    margin-bottom:0px;
}

section.documentation .note:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:6px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#474747 url(images/note-white.png) no-repeat 4px;
}

section.documentation .tip {
    background:#97957c;
    color:#fff;
}

section.documentation .tip:before {
    position:absolute;
    display:block;
    content:'';
    width:28px;
    height:28px;
    left:-15px;
    top:6px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#97957c url(images/tip-white.png) no-repeat 4px;
}

.docs footer nav {
    margin-top:30px;
    text-align:center;
    color:#000;
    width:560px;
    font-size:14px;
    line-height:20px;
}

.docs footer nav a {
    color:#000;
}

.docs footer nav a:hover {
    text-decoration:none;
}


.toctree-l2 > ul {
    display:inline;
    list-style:none;
    margin:0px;
    padding:0px;
}

.toctree-l2 > ul:before {
    content:'(';
}

.toctree-l2 > ul:after {
    content:')';
}

.toctree-l2 > ul > li {
    display:inline;
}

.toctree-l2 > ul > li a {
    font-size:14px;
}

.toctree-l2 > ul > li:after {
    content:', ';
}

.toctree-l2 > ul > li:last-child:after {
    content:'';
}
