{% extends "!layout.html" %}

{% set css_files = css_files + ['_static/mink.css', 'http://fonts.googleapis.com/css?family=Lobster'] %}

{% block content %}
    <header>
        <a id="logo" href="http://mink.behat.org">Mink</a>
        <div class="install body"> 
            <a href='https://github.com/downloads/Behat/Mink/mink.phar' class='button phar'>mink.phar</a> 
            <a href='https://github.com/Behat/Mink' class='button github'>View on GitHub</a> 
            <a href='http://pear.behat.org' class='button pear'>View PEAR repo</a> 
        </div>
    </header>

    <section class="docs">

        <nav class="toc">
            <h3>Chapters</h3>
            {{ toc }}
        </nav>

        <section class="documentation">
            {% block body %}{% endblock %}
        </section>

        {#% if pagename != 'index' %}
            <footer>
                <nav>
                    {%- if prev %}
                        &laquo; <a href="{{ prev.link|e }}">{{ prev.title }}</a> |
                    {%- endif %}
                        {{ title }}
                    {%- if next %}
                        | <a href="{{ next.link|e }}">{{ next.title }}</a> &raquo;
                    {%- endif %}
                </nav>
            </footer>
        {% endif %#}

    </section>

    <footer>
        <dl>
            <dt>Docs</dt>
            <dd><a href="http://docs.behat.org/quick_intro.html">Behat Intro</a></dd>
            <dd><a href="http://docs.behat.org/index.html">Behat Guides</a></dd>
            <dd><a href="http://mink.behat.org/index.html">Mink Guide</a></dd>
        </dl>
        <dl>
            <dt>Plugins</dt>
            <dd><a href="http://symfony2bundles.org/Behat/BehatBundle">BehatBundle</a></dd>
            <dd><a href="http://symfony2bundles.org/Behat/MinkBundle">MinkBundle</a></dd>
            <dd><a href="https://github.com/Behat/sfBehatPlugin">sfBehatPlugin</a></dd>
        </dl>
        <dl>
            <dt>Pear</dt>
            <dd><a href="http://pear.behat.org/">Behat</a></dd>
            <dd><a href="http://pear.behat.org/">Mink</a></dd>
        </dl>
        <dl>
            <dt>GitHub</dt>
            <dd><a href="https://github.com/Behat/Behat">Behat</a></dd>
            <dd><a href="https://github.com/Behat/Mink">Mink</a></dd>
        </dl>

        <div class="clear"></div>

        <div class="sponsor">
            <span>sponsored by</span>
            <a class="knp" href="http://www.knplabs.com">knpLabs, Symfony developers</a>
        </div>
    </footer>
{% endblock %}

{% block footer %}{% endblock %}
